body{
    margin: 0;
    background:linear-gradient(to bottom, #fdfdfd 0%, #00b4b47e 100%)fixed;
    font-family: 'Gill sans';
    color:#00b3b4;
}
/*buttons*/
#navbar{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    background-color:#00b4b4de;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height:60px;
    top: 0;
    transition: top 0.3s;
}
.nav{ 
    margin: 20px;
    text-align: center;
}
.nav:hover{
    position: relative;
    cursor: pointer;
    color:#005555;

}
#home { 
    display: flex;
    width: 100%;
}
.page{
    width: 60%;
    margin-top: 15%;
}
#pic{
    width: 40%; 
    margin-top: 15%;
    align-items: center;
}
h1{
    margin-left: 10%;
    font-size: 50px;
}
h2{
    font-size:30px;
    margin-left:10%;
}
p{
    font-size: 20px;
    margin-left:5%;
    margin-right:5%;
    text-align: center;
}
.a{
    font-size: 25px;
    margin-left:5%;
    margin-right:5%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
button{
    border:none;
    text-decoration:none;
    color:#00b4b4de;
    background-color:#fdfdfd;
    padding: 5px;
    border-radius: 3px;
}
button:hover{
    background-color:#00b4b4de;
    color:#fdfdfd;
}
input{
    text-decoration: none;
    border: none;
    padding: 5px;
    border-radius: 3px;
}
